  <!-- ============== BANNER SECTION STARTS ============== -->  
  <div class="top-banner-section">
      <!-- The CSS grid area that displays the image (layer 1) -->
    <div class="banner-image-div">
      <img class="banner-image" src="https://images.unsplash.com/photo-1609554496796-c345a5335ceb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Banner Image" />
    </div>
    <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
    <div class="banner-overlay-div"></div>
    <!-- The CSS grid area that displays the content (layer 3) -->
    <div class="banner-text-div wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.8s" data-wow-offset="50">
      <span class="banner-text">
        <p class="banner-h1-text">Remain relevant in today's <br> Cryptocurrency market</p>
        <p class="banner-body-text">Find real time info & get competitive edge</p>
        <div class="banner-search">
          <%= form_tag root_path, method: "get" do %>
            <%= text_field_tag :crypto_search,
              params[:crypto_search],
              :autocomplete => :off,
              :class => "search-box",
              placeholder: "Search crypto"
            %>
            <%= button_tag type: "submit", class: "glass-icon" do %>
              <%= fa_icon "search" %>
            <% end %>
          <% end %>
        </div>
      </span>
    </div>
  <!-- ============== SEARCH RESULTS STARTS / HIDDEN  ============== -->
    
    <% if params[:crypto_search].present? %>
      <% @currencies = Currency.where('LOWER(name) LIKE ?', "%#{params[:crypto_search].downcase}%") %>
      <header class="header">
        <br>
        <h1> <%= "#{params[:crypto_search].to_s.upcase}" %> </h1>
        <h2>Results <strong> <%= @currencies.size %></strong></h2>
      </header>
      <div class="header" style="background: rgba(152, 159, 149, 0.466);">
        <span id="tag-id"></span>
        <br>
        <span><%= today_date %>  - <span id="id-local-time"></span></span>
      </div>
      <div class ="rectangle">
        <% @currencies.each do |suggestions| %>   
            <div class="my-container">
              <%= link_to "https://api.coingecko.com/api/v3/coins/#{suggestions.name.to_s.downcase}", :target => "_blank", :class => "card-links" do %> 
                <div class="card-category">
                  <ul class="my-list">
                  <li><h3><%= suggestions.name %></h3> 
                  <li><strong><%=suggestions.currency_symbol%></strong></li>
                  <li><%= "$ #{suggestions.current_price} USD" %></li>
                  </ul>
                </div>
              <% end %>
            </div>
        <% end  %>
      </div>
    <% end %>
    <% if params[:crypto_search_info].present? %>
      <% @currencies_info = Currency.where('LOWER(name) LIKE ?', "%#{params[:crypto_search_info].downcase}%") %>
      <header class="header">
        <br>
        <h1> <%= "#{params[:crypto_search_info].to_s.upcase}" %> </h1>
        <h2>Results <strong> <%= @currencies_info.size %></strong></h2>
      </header>
      <div class="header" style="background: rgba(152, 159, 149, 0.466);">
        <span id="tag-id"></span>
        <br>
        <span><%= today_date %>  - <span id="id-local-time"></span></span>
      </div>  
      <div class ="rectangle">
        <% @currencies_info.each do |suggestions| %>     
            <div class="my-container">
              <%= link_to "https://api.coingecko.com/api/v3/coins/#{suggestions.name.to_s.downcase}", :target => "_blank", :class => "card-links" do %> 
                <div class="card-category">
                  <ul class="my-list">
                  <li><h3><%= suggestions.name %></h3> 
                  <li><strong><%=suggestions.currency_symbol%></strong></li>
                  <li><%= "$ #{suggestions.current_price} USD" %></li>
                  </ul>
                </div>
              <% end %>
            </div>
        <% end  %>
      </div>
    <% end %>
<!-- ============== SEARCH RESULTS FINISHED / HIDDEN ============== -->  
  </div>
<!-- ============== BANNER SECTION FINISHED ============== -->

<!-- ============== INFO CONTAINER SECTION START ============== -->
  <div class="info-container">
    <div class="info-paragraph wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s" data-wow-offset="50">
      <my-h1>What Is Cryptocurrency?</my-h1><br>
      <br><br>
      <p class="p-l 5">
        A cryptocurrency (or “crypto”) is a digital currency that can be used to buy goods and services, 
        Cryptocurrencies work using a technology called blockchain. Blockchain is a decentralized technology 
        spread across many computers that manages and records transactions. Part of the appeal of this technology is 
        its security.
      <br><br>
        More than 10,000 different cryptocurrencies are traded publicly, according to CoinMarketCap.com, a market 
        research website. And cryptocurrencies continue to proliferate, raising money through initial coin offerings, 
        or ICOs. The total value of all cryptocurrencies on July 9, 2021, was more than $1.4 trillion USD
      <br>
      <a href="https://en.wikipedia.org/wiki/Digital_currency" target ="blank">More info</a>
      </p>  
    </div>
    <div class="info-table wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0.8s" data-wow-offset="50">
      <div class="table-responsive">
            <table class="table">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Price</th>
          <th>Symbol</th>
          <th>MaxSupply</th>
        </tr>
        <tr onclick="window.open('https://www.coingecko.com/en/coins/bitcoin', '_blank')">
          <td><%= image_tag("bitcoin.png", size: "30x30", alt: "Bitcoin Logo")%></td>  
          <td><%= coin_name("Bitcoin") %></td>
          <td>$ <%= coin_price("Bitcoin") %> USD</td>
          <td><strong><%= coin_sym("Bitcoin") %></strong></td>
          <td><%= coin_supply("Bitcoin") %></td>
        </tr>
        <tr onclick="window.open('https://www.coingecko.com/en/coins/ethereum', '_blank')">
          <td><%= image_tag("ethereum.png", size: "30x30", alt: "Ethereum Logo")%></td>
          <td><%= coin_name("Ethereum") %></td>
          <td>$ <%= coin_price("Ethereum") %> USD </td>
          <td><strong><%= coin_sym("Ethereum")%></strong></td>
          <td><%= coin_supply("Ethereum") %></td>
        </tr>
        <tr onclick="window.open('https://www.coingecko.com/en/coins/litecoin', '_blank')">
          <td><%= image_tag("litecoin.png", size: "30x30", alt: "litecoin Logo")%></td>
          <td><%= coin_name("Litecoin") %></td>
          <td>$ <%= coin_price("Litecoin") %> USD</td>
          <td><strong><%= coin_sym("Litecoin") %></strong></td>
          <td><%= coin_supply("Litecoin") %></td>
        </tr>
        <tr onclick="window.open('https://www.coingecko.com/en/coins/dogecoin', '_blank')">
          <td><%= image_tag("dogecoin.png", size: "30x30", alt: "dogecoin Logo")%></td>
          <td><%= coin_name("Dogecoin") %></td>
          <td>$ <%= coin_price("Dogecoin") %> USD </td>
          <td><strong><%= coin_sym("Dogecoin") %></strong></td>
          <td><%= coin_supply("Dogecoin") %></td>
        </tr>
      </table>
      </div>
      <div class ="info-search align-middle">
        <span class ="info-label"> Search real time information</span>  
        <%= form_tag root_path, method: "get" do %>
          <%= text_field_tag :crypto_search_info,
            params[:crypto_search_info],
            :autocomplete => :off,
            :class => "search-box",
            placeholder: "Search crypto"
          %>
        <% end %>
      </div>  
    </div>
  </div>
<!-- ============== INFO CONTAINER SECTION FINISHED ============== -->
<!--  <%  if params[:crypto_search].blank? %>
        YOUR SEARCH 
      <% end %>
-->
<!-- ================================================== SPLIT CONTAINER STARTS ================================================== -->
  <div class="split">       
    <div class="text-div wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.8s" data-wow-offset="50">
      <div class="my-container-1">
      <div class="row">
          <div class="col">
              <div class="pb-10 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                <my-h1 class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s">Buy and protect yourself</my-h1>
                <p class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">If you’re looking to buy a crypto in an ICO, look in the company’s prospectus for the below: 
                
                </p>
              </div> <!-- section title -->
          </div>
      </div> <!-- row -->
      <div class="row">
          <div class="col">
              <div class="row">
                  <div class="col-md-6">
                      <div class="about-content-2 mt-40 d-sm-flex wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
                          <div class="about-icon">
                            <!--ICON-->
                          </div>
                          <div class="about-content">
                            <h3>Who owns the company?</h3>
                            <p>This distinction is important, an identifiable and well-known owner is a positive sign and might be a safer option
                            </p>
                          </div>
                      </div> <!-- about content -->
                  </div>
                  <div class="col-md-6">
                      <div class="about-content-2 mt-40 d-sm-flex wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.7s">
                          <div class="about-icon">
                            <!-- ICON -->
                          </div>
                          <div class="about-content">
                              <h3>Are there other major investors investing in it?</h3>
                              <p>It’s a good sign if other well-known investors want a piece of the currency.</p>
                          </div>
                      </div> <!-- about content -->
                  </div>
                  <div class="col-md-6">
                      <div class="about-content-2 mt-40 d-sm-flex wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.9s">
                          <div class="about-icon">
                            <!-- INFO -->
                          </div>
                          <div class="about-content">
                              <h3>Will you own a stake or just currency or tokens?</h3>
                              <p>Owning a stake means you get to participate in its earnings (you’re an owner), while buying tokens simply means you're entitled to use them, like chips in a casino</p>
                          </div>
                      </div> <!-- about content -->
                  </div>
                  <div class="col-md-6">
                      <div class="about-content-2 mt-40 d-sm-flex wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.9s">
                          <div class="about-icon">
                            <!-- INFO -->
                          </div>
                          <div class="about-content">
                              <h3>Is the currency already developed?</h3>
                              <p>The further along with the product, the less risky it is, mainly because the company might be looking to raise money to develop it which is not safe enough</p>
                          </div>
                      </div> <!-- about content -->
                  </div>
              </div> <!-- row -->
          </div>
      </div> <!-- row -->
  </div> <!-- container -->
    
    </div>
    <div class="img-div wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.8s" data-wow-offset="50" style="background-image: url(https://images.unsplash.com/photo-1612696877544-9796e268bfcf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1897&q=80)">
    </div>
  </div>
<!-- ================================================== SPLIT CONTAINER ENDS ================================================== -->

<script>new WOW({live: false}).init()</script>
<script>
  window.onload = function () {
    let loadTime = window.performance.timing.domContentLoadedEventEnd-window.performance.timing.navigationStart; 
    document.getElementById('tag-id').innerHTML = `Found in ${loadTime/1000} seconds`;
  }
</script>  
