<!DOCTYPE html>
<html>
  <head>
    <title>CalcCryptoTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Nobile:wght@700&family=Work+Sans&display=swap');</style> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
