<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CalcCryptoTest</title>
    <meta name="description" content="GianTaraBani espacio de desarrollo y bienestar integral. Ofrecemos experiencias holísticas para sanación y crecimiento de mente, cuerpo y conciencia.">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#= render "components/preloader" unless controller_name == 'errors' %>
    <%= yield %>
    <%= render "components/footer" unless controller_name == 'errors'%>
  </body>
</html>
